<script setup>
defineProps(["href", "title", "icon"]);
</script>
<template>
  <a :href="href" :title="title"
    ><iconify-icon :icon="icon" width="36"></iconify-icon
    ><span class="sr-only">{{ title }}</span></a
  >
</template>
