<script setup lang="ts">
import { withBase, useData } from "vitepress";
import { usePrevNext } from "../utils/prev-next";

const content = usePrevNext();
const { site } = useData();
</script>

<template>
  <div class="flex text-lg font-bold uppercase">
    <a v-if="content.prev" class="self-start" :href="withBase(content.prev)"
      >Prev</a
    >
    <a v-else class="cursor-not-allowed text-pink-800/25 dark:text-pink-200/25"
      >Prev</a
    >
    <span class="grow text-center">
      <a :href="site.base">Title</a>
      <span class="mx-0.5 text-pink-800/25 dark:text-pink-200/25">/</span>
      <a :href="withBase('/#toc')">Contents</a>
    </span>
    <a v-if="content.next" class="self-end" :href="withBase(content.next)"
      >Next</a
    >
    <a v-else class="cursor-not-allowed text-pink-800/25 dark:text-pink-200/25"
      >Next</a
    >
  </div>
</template>
