<script setup lang="ts">
import { withBase } from "vitepress";
import { data as posts } from "../contents.data.js";
import { useData } from "vitepress";
const { frontmatter } = useData();
</script>

<template>
  <section>
    <a v-if="frontmatter.home" id="toc"></a>
    <h2 class="text-4xl font-bold">Main Storyline</h2>
    <ol class="flex flex-col space-y-1 pl-4 font-toc text-xl">
      <li v-for="post of posts">
        <a
          class="no-underline hover:font-bold hover:underline"
          :href="withBase(post.url)"
          >{{ post.frontmatter.title }}</a
        >
      </li>
    </ol>
  </section>
</template>
