<script setup>
import FooterLink from "./FooterLink.vue";
</script>

<template>
  <ul class="flex list-none flex-row space-x-1">
    <li>
      <FooterLink
        href="https://shadowrz.github.io/blog/"
        title="Author's Blog"
        icon="solar:user-bold-duotone"
        width="36"
      />
    </li>
    <li>
      <FooterLink
        href="https://minoko-documents.netlify.app"
        title="Minoko Documents"
        icon="solar:notebook-minimalistic-bold-duotone"
        width="36"
      />
    </li>
    <li>
      <FooterLink
        href="https://github.com/ShadowRZ/minoko-novel"
        title="GitHub"
        icon="solar:code-2-bold-duotone"
        width="36"
      />
    </li>
  </ul>
  <footer>
    2021-2023 Yorusaka Miyabi
    <br />
    Built with
    <a
      class="font-bold no-underline hover:underline"
      href="https://vitepress.dev"
      target="_blank"
      >VitePress</a
    >
    +
    <a
      class="font-bold no-underline hover:underline"
      href="https://tailwindcss.com"
      target="_blank"
      >Tailwind CSS</a
    >
    <br />
    Icons:
    <a
      class="font-bold no-underline hover:underline"
      href="https://solariconset.com"
      target="_blank"
      >Solar</a
    >
    (Via
    <a
      class="font-bold no-underline hover:underline"
      href="https://iconify.design"
      target="_blank"
      >Iconify</a
    >)
  </footer>
</template>
