<script setup lang="ts">
import { useData } from "vitepress";
const { page, frontmatter } = useData();
</script>

<template>
  <!-- Colors for prose-minoko is defined in tailwind.config.js -->
  <article class="prose prose-minoko prose-novel max-w-none dark:prose-invert">
    <h1 class="text-4xl">{{ page.title }}</h1>
    <p class="indent-0">{{ frontmatter.description }}</p>
    <Content />
  </article>
</template>
