<script setup lang="ts">
import WithContent from "./components/WithContent.vue";
import WithFooter from "./components/WithFooter.vue";
import NovelIndex from "./components/NovelIndex.vue";
import NovelNavigation from "./components/NovelNavigation.vue";
import { useData, useRoute } from "vitepress";
import "iconify-icon";

// https://vitepress.dev/reference/runtime-api#usedata
const { site, page, frontmatter } = useData();
const { path } = useRoute();
</script>

<template>
  <div
    class="flex min-h-screen justify-center bg-pink-200 font-sans text-pink-800 dark:bg-pink-950 dark:text-pink-200"
  >
    <div v-if="frontmatter.home" class="flex w-10/12 flex-col space-y-4 pb-4">
      <header class="flex h-screen flex-col-reverse space-y-4 pb-32">
        <div>
          <h1 class="text-6xl font-black">{{ site.title }}</h1>
          <p class="text-3xl">{{ site.description }}</p>
          <p class="mt-2 text-xl">
            <a class="group font-bold" href="#toc"
              ><span class="no-underline group-hover:underline"
                >Jump to Table of Contents</span
              >
              <iconify-icon
                inline
                icon="solar:arrow-to-down-left-bold-duotone"
              ></iconify-icon
            ></a>
          </p>
        </div>
      </header>
      <div class="flex min-h-screen flex-col">
        <NovelIndex class="flex grow flex-col justify-center space-y-4" />
        <WithFooter />
      </div>
    </div>
    <div
      v-else-if="page.isNotFound"
      class="mx-4 my-4 flex flex-col justify-center"
    >
      <section class="flex flex-col items-center space-y-4">
        <strong class="text-9xl">404</strong>
        <p class="text-2xl">Where did you go?</p>
      </section>
    </div>
    <div v-else class="w-10/12 py-4">
      <NovelNavigation class="mb-2" />
      <WithContent />
      <NovelNavigation class="mt-2" />
    </div>
  </div>
</template>
